<div class="contributor-card">

    {% if include.image %}
      <img src="{{ include.image | relative_url }}"
           alt="{{ include.name }}"
           class="contributor-img">
    {% endif %}

    <div class="contributor-name">{{ include.name }}</div>
    <div class="contributor-role">{{ include.role }}</div>

    {% if include.email %}
      <a href="mailto:{{ include.email }}" class="contributor-email">{{ include.email }}</a>
    {% endif %}

    {% if include.link %}
      <div class="contributor-link">
        <a href="{{ include.link }}" target="_blank">LinkedIn →</a>
      </div>
    {% endif %}

</div>
