<div class="text-center my-3">
        <button class="btn btn-success btn-lg my-4" onclick="runNN2()">Generate Stress Field</button>
      </div>


<div class="text-center my-5">
        <canvas id="unityContainer2" width="960" height="500" style="background:#000; width:100%; height:100%"></canvas>
      </div>
<div class="text-center my-4">
        <img src="/assets/img/psi_gradient.png" alt="NN2 Output Visualization" style="max-width:50%; height:auto;">
      </div>

<script src="/assets/js/NN3.js"></script>