<style>

</style>
<div class="bevy-container">
  <canvas id="bevy" tabindex="-1"></canvas>
</div>

<script type="module">
  import init, * as wasm from '{{ "assets/models/Bevy_2/beam_final.js" | relative_url }}';

  await init();

  const canvas = document.getElementById("bevy");
  canvas.style.visibility = "visible"; 


  if (wasm.init_stress_inbox) {
    wasm.init_stress_inbox();
  }

  window.__bevy = wasm;
</script>

<script src="{{ 'assets/js/NN3.js' | relative_url }}"></script>
<div class="text-center my-3">
  <button class="btn btn-success btn-lg my-4" onclick="runNN3WithForce(2.5)">Generate Stress Field</button>
</div>


