body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #000000;
}


.content-wrapper {
  background-color: #ffffff;
  margin: 45px auto;
  padding: 45px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  max-width: 1200px;
}

.container {
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Mono", monospace;
}

/* remove browser number spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] { -moz-appearance: textfield; }

.center{text-align:center}




