body {
  font-family: 'Montserrat', sans-serif;
  background-color: #131313 !important;
  color: #000000;
  margin: 0;
}


.content-wrapper {
  background-color: #131313;
  margin: 45px auto;
  padding: 45px;
  box-shadow: none;
  border-radius: 10px;
  max-width: 1200px;
}

.container {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Mono", monospace;
  color: #ffffff
}

p {
  color: #ffffff
}

li { 
  color: #ffffff;
}

/* remove browser number spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] { -moz-appearance: textfield; }

.center{text-align:center}

.alert-info {
  background-color: #007bff !important;  
  border-color: #007bff !important;      
  color: #ffffff !important;                
  width: fit-content;
  margin: 20px auto;
}

.alert-info * {
  color: #000000; 
  background-color: #007bff !important;
}


