
.input-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
}
#setValuesBtn,
button[type="submit"] {
	padding: 15px 30px;
	font-size: 1.2em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: block;
	margin: 0 auto;
  margin-top: 20px
}
.input-wrapper { text-align: center; }

.input-label {
  color: #fff
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* stack centered */
  gap: 4px;
}

.input-group input {
  width: 60px;
  text-align: center
}

.input-group button {
  width: 40px;
  height: 32px;
  margin: 0 auto; /* centers button inside the column */
}

.btn-secondary.btn-sm {
	padding: 4px 8px;
	height: 28px;
  background-color: #28a645;
  border: 1px solid #ccc;
  border-radius: 6px;      /* space around text */
  font-size: 0.85rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  width: auto;             /* auto-expands for text */
  min-width: 60px;         /* prevents awkward shrinking */
  transition: background-color 0.2s ease;
}

input[type="number"].form-control {
	width: 60px;
  margin: 0 auto 
}

#setValuesBtn { background-color: #28a745; color: #fff; margin-top: 20px; }
#setValuesBtn:hover { background-color: #28a745; }

.btn-outline-primary {
  background:#fff;
  color:#28a745;
  border:2px solid #28a745;
  border-radius:10px;
  padding:.1rem .2rem;
  cursor:pointer;
}


